@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">UploadThing</h1>

    <a class="btn btn-secondary" asp-area="" asp-controller="AjaxFormUpload" asp-action="Index">AJAX Form Upload</a>
    <a class="btn btn-secondary" asp-area="" asp-controller="FormUpload" asp-action="Index">Form Upload (Submit)</a>
</div>

